/*
@File: Axolot Template Styles

* This file contains the styling for the actual tepmlate, this
is the file you need to edit to change the look of the
tepmlate.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

*** - Default CSS
*** - Prealoader CSS 
*** - Navbar CSS
*** - Main Banner CSS
*** - Features CSS
*** - About CSS
*** - Services CSS
*** - Vision CSS
*** - Fun Facts CSS
*** - Join Now CSS
*** - How It Works CSS
*** - Team CSS
*** - Testimonials CSS
*** - FAQ CSS
*** - Pricing CSS
*** - Partner CSS
*** - Subscribe CSS
*** - Page Title CSS
*** - Contact CSS
*** - Footer Area CSS
*** - Go Top CSS
*** - Router Transitions
*/
/* ==============
    Start Default CSS 
==================================== */
body {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #198754;
  transition: 0.4s;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}

p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 1.8;
  color: #6f8ba4;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.bg-gray {
  background-color: #edf5ff;
}

.form-group {
  margin-bottom: 20px;
}

textarea.form-control {
  min-height: 100%;
  height: auto;
}

/* Section Title */
.section-title {
  margin-bottom: 60px;
  text-align: center;
  margin-top: -6px;
}
.section-title span {
  display: block;
  font-size: 16px;
  margin-bottom: 6px;
  color: #198754;
}
.section-title h3 {
  font-size: 30px;
  margin-top: 6px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 20px;
  max-width: 520px;
}
.section-title h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  height: 3px;
  border-radius: 5px;
  right: 0;
  margin: 0 auto;
  background: #198754;
}
.section-title p {
  max-width: 550px;
  margin: 0 auto;
}

/* Btn Button */
.btn {
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 27px;
  position: relative;
  overflow: hidden;
}
.btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 100px;
  transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  background: rgba(255, 255, 255, 0.5);
  left: 0;
  top: 0;
}
.btn:hover::before {
  background: #ffffff;
  transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.btn-primary {
  background-color: #198754;
  border-color: #198754;
  color: #ffffff;
}
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary .show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #198754;
  border-color: #198754;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #198754;
  border-color: #198754;
}
.btn-primary.disabled,
.btn-primary:disabled {
  opacity: 1;
  background-color: #198754;
  border-color: #198754;
}

.btn-secondary {
  color: #ffffff;
  background-color: #198754;
  border-color: #198754;
}
.btn-secondary:hover {
  color: #ffffff;
  background-color: #198754;
  border-color: #198754;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: none;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary .show > .btn-secondary.dropdown-toggle {
  color: #ffffff;
  background-color: #198754;
  border-color: #198754;
}

/* ==============
    End Default CSS 
==================================== */
/* ==============
    Start Navbar CSS 
==================================== */
.navbar {
  padding: 0;
  border-bottom: 1px solid #f6f6f6;
}
.navbar.is-sticky {
  background: #ffffff;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.bg-light {
  background-color: #ffffff !important;
  z-index: 99;
}
.bg-light .navbar-brand {
  color: #222222;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
}
.bg-light .navbar-brand span {
  color: #198754;
}
.bg-light .navbar-nav li .nav-link {
  color: #333333;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-left: 15px;
  margin-right: 15px;
}
.bg-light .navbar-nav li .nav-link:focus,
.bg-light .navbar-nav li .nav-link:hover,
.bg-light .navbar-nav li .nav-link.active {
  color: #198754;
}
.bg-light .navbar-nav li .nav-link:last-child {
  padding-right: 0;
}
.bg-light .navbar-nav li .dropdown-menu {
  min-width: 15rem;
  padding: 15px 25px;
  margin: 0;
  top: 115%;
  background-color: #ffffff;
  box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
  border: none;
  border-radius: 10px;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.4s;
}
.bg-light .navbar-nav li .dropdown-menu li a {
  padding: 0;
  margin: 10px 0;
  background: transparent;
  color: #333333;
}
.bg-light .navbar-nav li .dropdown-menu li a:hover,
.bg-light .navbar-nav li .dropdown-menu li a.active {
  color: #198754;
}
.bg-light .navbar-nav li:hover .dropdown-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.navbar-toggler {
  border: none;
  border-radius: 0;
  padding: 0;
}
.navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}
.navbar-toggler .icon-bar {
  width: 35px;
  transition: all 0.3s;
  background: #333;
  height: 4px;
  display: block;
  border-radius: 3px;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
  left: 4px;
  position: relative;
}
.navbar-toggler .middle-bar {
  opacity: 0;
  margin: 5px 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
  left: 4px;
  position: relative;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
  left: 0;
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  left: 0;
  margin-top: 6px;
}

/* ==============
    End Navbar CSS 
==================================== */

/* ==============
    Start About CSS 
==================================== */
.about-area {
  position: relative;
  background-image: url(/img/pattern-4.png);
  background-attachment: fixed;
}

.about-content h3 {
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 15px;
}
.about-content p {
  margin-bottom: 25px;
}
.about-content .pull-left {
  float: left;
  margin-right: 45px !important;
}
.about-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.about-content ul li {
  color: #6f8ba4;
  margin-top: 10px;
  font-weight: 400;
  text-align: left;
}
.about-content ul li:first-child {
  margin-top: 0;
}
.about-content ul li i {
  margin-right: 4px;
  color: #198754;
}
.about-content .btn {
  margin-top: 25px;
}
/* ==============
    End About CSS 
==================================== */
/* ==============
    Start Services CSS 
==================================== */
.services-area {
  padding-bottom: 70px;
}
/* ==============
    End Services CSS 
==================================== */

/* ==============
    Start FAQ CSS 
==================================== */
.accordion {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: none !important;
}
.accordion .accordion-item {
  display: block;
  margin-bottom: 15px;
  border: none !important;
}
.accordion .accordion-item:last-child {
  margin-bottom: 0;
}
.accordion p {
  margin-top: 10px;
}
.accordion p:first-child {
  margin-top: 0;
}
.accordion .react-sanfona-item-body-wrapper {
  padding: 15px;
}
.accordion .accordion-title {
  display: block;
  color: #ffffff !important;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  background: #198754;
}
.accordion .accordion-title:hover {
  background-color: #198754;
}
.accordion .active .accordion-title {
  background: #198754;
  border-radius: 0;
}
.accordion .accordion-content {
  display: none;
  position: relative;
  overflow: hidden;
  padding: 15px 15px 0;
}
.accordion .accordion-content.show {
  display: block;
}
.accordion .accordion__item {
  margin-bottom: 10px;
}
.accordion .accordion__item:last-child {
  margin-bottom: 0;
}
.accordion .accordion__button {
  background-color: #198754;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  text-align: left;
  border: none;
  outline: 0;
  border-radius: 30px;
  transition: 0.5s;
}
.accordion .accordion__button:hover {
  background-color: #198754;
}
.accordion .accordion__panel p {
  margin-top: 0;
}
.accordion .accordion__item + .accordion__item {
  border: none;
}

/* ==============
    End FAQ CSS 
==================================== */

/* ==============
    Start Repair Main Banner CSS 
==================================== */
.repair-main-banner {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  padding-top: 200px;
  padding-bottom: 300px;
}
.repair-main-banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: -1;
  opacity: 0.6;
}

.repair-banner-content {
  margin-top: 180px;
  @media (min-width: 1200px) {
    margin-top: 0;
  }
}

.repair-banner-content h2 {
  color: #ffffff;
  line-height: 1.2;
  font-size: 55px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 80%;

  @media (min-width: 989px) {
    max-width: 100%;
  }
}
.repair-banner-content p {
  max-width: 550px;
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 17px;
}
.repair-banner-content .btn {
  text-transform: uppercase;
}
/* ==============
    End Repair Main Banner CSS 
==================================== */
/* ==============
    Start Repair About CSS 
==================================== */
.repair-about-content .section-title {
  text-align: left;
  margin-bottom: 25px;
}
.repair-about-content .section-title h3 {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
}
.repair-about-content .section-title h3::before {
  display: none;
}
.repair-about-content .section-title p {
  margin-left: 0;
  margin-right: 0;
}
.repair-about-content ul {
  padding-left: 0;
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 10px;
  margin-left: -15px;
  margin-right: -15px;
}
.repair-about-content ul li {
  float: left;
  width: 50%;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px;
  font-weight: 600;
}
.repair-about-content ul li i {
  color: #198754;
  margin-right: 3px;
}
.repair-about-content .read-more-btn {
  display: inline-block;
  margin-top: 20px;
  text-transform: uppercase;
  color: #198754;
  font-size: 14px;
  font-weight: 700;
}
.repair-about-content .read-more-btn:hover {
  color: #4457c3;
  text-decoration: none;
}

.repair-about-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.repair-about-image img {
  position: absolute;
}
.repair-about-image img:nth-child(1) {
  left: 0;
  top: 0;
  z-index: 1;
}
.repair-about-image img:nth-child(2) {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  text-align: center;
  z-index: 2;
  margin: 0 auto;
  border: 5px solid #f8fbff;
  width: 350px;
}
.repair-about-image img:nth-child(3) {
  right: 0;
  bottom: 0;
  z-index: 1;
}
.repair-about-image img:nth-child(4) {
  right: 0;
  top: 0;
}
.repair-about-image img:nth-child(5) {
  left: 0;
  bottom: 0;
}

/* ==============
    End Repair About CSS 
==================================== */
/* ==============
    Start Repair Services CSS 
==================================== */
.repair-services-area {
  position: relative;
  z-index: 1;
  background-color: #4457c3;
  background-image: url(/images/services-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.repair-services-area .section-title span {
  color: #198754;
}
.repair-services-area .section-title h3 {
  color: #ffffff;
}
.repair-services-area .section-title h3::before {
  background: #ffffff;
}
.repair-services-area .section-title p {
  color: #ffffff;
}

.single-repair-services {
  border: 1px solid #8096b0;
  padding: 30px;
  border-radius: 5px;
  transition: 0.5s;
  height: 270px;
}
.single-repair-services i {
  color: #ffffff;
  font-size: 40px;
  transition: 0.5s;
}
.single-repair-services h3 {
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 25px;
}
.single-repair-services p {
  color: #ffffff;
  opacity: 0.95;
  transition: 0.5s;
}
.single-repair-services .read-more-btn {
  margin-top: 20px;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.single-repair-services .read-more-btn:hover {
  text-decoration: none;
}
.single-repair-services:hover,
.single-repair-services:focus {
  background-color: #ffffff;
  border-color: #ffffff;
}
.single-repair-services:hover i,
.single-repair-services:focus i {
  color: #198754;
}
.single-repair-services:hover h3,
.single-repair-services:focus h3 {
  color: #222222;
}
.single-repair-services:hover p,
.single-repair-services:focus p {
  color: #6f8ba4;
}
.single-repair-services:hover .read-more-btn,
.single-repair-services:focus .read-more-btn {
  color: #4457c3;
}
.single-repair-services:hover .read-more-btn:hover,
.single-repair-services:hover .read-more-btn:focus,
.single-repair-services:focus .read-more-btn:hover,
.single-repair-services:focus .read-more-btn:focus {
  color: #198754;
}

.repair-services-slides .swiper-pagination {
  position: initial;
  margin-top: 20px;
}
.repair-services-slides .swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 4px;
  background: #8c96cc;
  opacity: 1;
  border-radius: 0;
}
.repair-services-slides
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
.repair-services-slides.owl-theme .owl-dots {
  line-height: 0.1;
  margin-top: 45px;
}
.repair-services-slides.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 4px;
  margin: 0 3px;
  background: #8c96cc;
  transition: 0.4s;
  border-radius: 0;
}
.repair-services-slides.owl-theme .owl-dots .owl-dot:hover span,
.repair-services-slides.owl-theme .owl-dots .owl-dot:focus span {
  background: #ffffff;
}
.repair-services-slides.owl-theme .owl-dots .owl-dot.active span {
  width: 30px;
  background: #ffffff;
}

/* ==============
    End Repair Services CSS 
==================================== */
/* ==============
    Start Repair Subscribe CSS 
==================================== */
.repair-subscribe-area {
  position: relative;
  margin-top: -100px;
  margin-bottom: 100px;
}

.repair-subscribe-content {
  background-color: #4457c3;
  background-image: url(/images/services-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}
.repair-subscribe-content h2 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 30px;
}
.repair-subscribe-content .form-wrapper {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.repair-subscribe-content form .form-group {
  margin-bottom: 0;
  width: 29%;
  padding-right: 15px;
}
.repair-subscribe-content form .form-group .input-newsletter {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  outline: 0;
  color: #ffffff;
  padding-bottom: 10px;
  padding-top: 12px;
}
.repair-subscribe-content form .form-group .input-newsletter::-moz-placeholder,
.input-newsletter::-moz-placeholder {
  color: #ffffff;
}
.repair-subscribe-content form .form-group .input-newsletter::placeholder,
.input-newsletter::placeholder {
  color: #ffffff;
}
.repair-subscribe-content form .validation-danger,
.repair-subscribe-content form .validation-success {
  color: #ffffff;
}
.repair-subscribe-content form .btn {
  margin-top: 24px;
}
.repair-subscribe-content form .btn-primary {
  color: #ffffff;
  border-color: #198754;
  background-color: #198754;
}
.repair-subscribe-content form .btn-primary.disabled,
.repair-subscribe-content form .btn-primary:disabled {
  color: #ffffff;
  background-color: #198754;
  border-color: #198754;
}

/* ==============
    End Repair Subscribe CSS 
==================================== */
/* ==============
    Start Repair Footer CSS 
==================================== */
.repair-footer-area {
  padding-top: 100px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.repair-footer-area::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  width: 201%;
  background: #198754;
  z-index: -2;
  transform: skewY(177deg);
}

.single-footer-widget .logo {
  margin-top: -10px;
}
.single-footer-widget .logo a {
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  font-size: 30px;
  font-weight: 700;
}
.single-footer-widget .logo a span {
  color: #4457c3;
  display: inline-block;
}
.single-footer-widget p {
  color: #f2f2f2;
  margin-top: 15px;
  margin-bottom: 20px;
}
.single-footer-widget ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.single-footer-widget h3 {
  color: #ffffff;
  margin-bottom: 27px;
  font-size: 20px;
  font-weight: 600;
}
.single-footer-widget .services-list li a {
  margin-bottom: 12px;
  display: inline-block;
  color: #f2f2f2;
}
.single-footer-widget .services-list li a:hover {
  padding-left: 10px;
  color: #198754;
}
.single-footer-widget .services-list li:last-child a {
  margin-bottom: 0;
}
.single-footer-widget .usefull-links li a {
  margin-bottom: 12px;
  display: inline-block;
  color: #f2f2f2;
}
.single-footer-widget .usefull-links li a:hover {
  padding-left: 10px;
  color: #198754;
}
.single-footer-widget .usefull-links li:last-child a {
  margin-bottom: 0;
}
.single-footer-widget .contact-list li {
  margin-bottom: 12px;
  color: #f2f2f2;
  position: relative;
}
.single-footer-widget .contact-list li a {
  color: #f2f2f2;
  display: inline-block;
}
.single-footer-widget .contact-list li a:hover {
  color: #198754;
}
.single-footer-widget .contact-list li:last-child {
  margin-bottom: 0;
}
.single-footer-widget .contact-list li span {
  font-weight: 600;
}

.social-links li {
  display: inline-block;
  margin-right: 2px;
}
.social-links li a {
  width: 35px;
  height: 35px;
  text-align: center;
  display: inline-block;
  line-height: 35px;
  border-radius: 50%;
  font-size: 14px;
  background-color: #343434;
  color: #ffffff;
}
.social-links li a:hover,
.social-links li a:focus {
  background: #198754;
  color: #ffffff;
}
.social-links li:last-child {
  margin-right: 0;
}

/* ==============
    End Repair Footer CSS 
==================================== */
.services-slides .swiper-button-prev {
  left: 0;
}
.services-slides .swiper-button-prev::after {
  font-size: 20px;
  color: #000;
}
.services-slides .swiper-button-next {
  right: 0;
}
.services-slides .swiper-button-next::after {
  font-size: 20px;
  color: #000;
}

.team-slides .swiper-button-prev {
  left: 0;
  top: 30px;
}
.team-slides .swiper-button-prev::after {
  color: #000;
}
.team-slides .swiper-button-next {
  right: 0;
  top: 30px;
}
.team-slides .swiper-button-next::after {
  color: #000;
}

.partner-slides .swiper-button-prev {
  left: 0;
}
.partner-slides .swiper-button-prev::after {
  color: #000;
  font-size: 22px;
}
.partner-slides .swiper-button-next {
  right: 0;
}
.partner-slides .swiper-button-next::after {
  color: #000;
  font-size: 22px;
}

.testimonials-slides .swiper-button-prev {
  left: 0;
}
.testimonials-slides .swiper-button-prev::after {
  color: #000;
  font-size: 22px;
}
.testimonials-slides .swiper-button-next {
  right: 0;
}
.testimonials-slides .swiper-button-next::after {
  color: #000;
  font-size: 22px;
}

.features-slides .swiper-button-prev {
  left: 0;
}
.features-slides .swiper-button-prev::after {
  color: #000;
  font-size: 22px;
}
.features-slides .swiper-button-next {
  right: 0;
}
.features-slides .swiper-button-next::after {
  color: #000;
  font-size: 22px;
}

.scroll-to-top {
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  font-size: 25px;
  color: #ffffff;
  background-color: #000;
  z-index: 999;
  width: 40px;
  text-align: center;
  height: 40px;
  line-height: 39px;
  border-radius: 50%;
  transition: 0.4s;
}
.scroll-to-top:hover {
  background-color: #198754;
}

.error-content {
  text-align: center;
} /*# sourceMappingURL=style.css.map */

/* ==================== */
.options-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chip {
  padding: 5px 15px;
  border-radius: 16px;
  font-size: 14px;
  color: #333;
  border: 1px solid #198754;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chip:hover {
  background-color: #198754;
  color: white;
}

.logo {
  width: 150px;
  height: auto;

  @media (min-width: 768px) {
    width: 200px;
  }
}

.container {
  overflow-x: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  color: #198754;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 86%;
  transform: translateY(-50%);
  transition: 0.3s ease;
}

.swiper-button-prev {
  left: 40%;
  transform: translateX(-45%);
  background-image: url(/icons//chevron_left.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: 40px, 40px;

  @media (min-width: 768px) {
    left: 45%;
  }
}

.swiper-button-next {
  right: 40%;
  transform: translateX(45%);
  background-image: url(/icons//chevron.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: 40px, 40px;

  @media (min-width: 768px) {
    right: 45%;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.mySwiper {
  overflow: visible;
  min-height: 400px;
  color: #198754;
}
